@import url(roma2.jpg);

*{
margin: 0px;
padding: 0px;
font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url(roma2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 72%;
}

.menu{
    background-color: rgba(0, 0, 0, 0.219);
}
h1{
    font-size: 60px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.89);
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.836);
    margin-left: 15px;
}

a:hover{
    background-color: rgba(189, 189, 189, 0.705);
}

h2{
    color: white;
    padding-top: 15px;
    padding-left: 13px;
}

img{
height: 135px;
width: 200px;
align-items: center;
border-radius: 7px;
}

.conteiner{
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row-reverse;
    justify-content: space-around;
    align-items: baseline;
    
}

.itens{
    border-radius: 10px;
    background-color: rgb(150, 150, 150);
    border: 0.1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    height: 270px;
    flex: auto;
    flex-grow: 1;
    flex-shrink: 5;
    flex-basis: auto;
}

.ordem1{order: 1;}
.ordem2{order: 2;}
.ordem3{order: 3;}
.ordrm4{order: 4;}
.ordem5{order: 5;}
.ordem6{order: 6;}
.ordem7{order: 7;}

h3{
    padding-top: 5px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

.p{
    color: rgba(255, 255, 255, 0.781);
    padding-left: 45px;
    padding-top: 10px;
}

p{

    color: rgba(255, 255, 255, 0.842);
    text-align: left;
}

.texto{
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.795), rgba(0, 0, 0, 0.39));
    color: white;
    padding-left: 10px;
    padding-top: 15px;
}


